.version.index /* version checker */
{
	color: #0000FB;
	background-color: #3E1D17;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1920px;
	min-height: 5399.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -342px;
	padding-bottom: 2685px;
	width: 0.01px;
}

#u82
{
	z-index: 4;
	width: 1920px;
	height: 97px;
	background-color: #FFFFFF;
	position: relative;
}

#pu75
{
	width: 0.01px;
	margin-top: 195px;
}

#u75
{
	z-index: 2;
	width: 1920px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
}

#u119
{
	z-index: 5;
	width: 1860px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 30px;
}

#u83-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u93-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u96-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u109-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 564px;
}

#u117-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1128px;
}

#u115-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1316px;
}

#u114-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1504px;
}

#u113-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1692px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 451px;
	left: 854px;
}

#u160
{
	z-index: 41;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 899px;
}

#u165
{
	z-index: 42;
	width: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 872px;
}

#u173-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 782px;
}

#u174-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 594px;
}

#u194
{
	z-index: 56;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 28px;
}

#pu121
{
	width: 0.01px;
	margin-top: 29px;
}

#u121
{
	z-index: 39;
	width: 1920px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u185
{
	z-index: 54;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u179
{
	z-index: 52;
	width: 1920px;
	background-color: transparent;
	margin-top: 49px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

